@import "tailwindcss";

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.5s ease;
}

.animate-slide-in-left {
  animation: slideInLeft 0.5s ease;
}
html {
  scroll-behavior: smooth;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}
.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}

.animate-float-fast {
  animation: float 3s ease-in-out infinite;
}